        <div class="left-side">
            <nav id="side-menu">
                <div class="title-menu">
                    <h3>Omid Soleimani</h3>
                    <p>Full Stack Develooper</p>
                </div>
                <ul>
                    <li><span></span> <a href="/">About me</a></li>
                    <li><span></span><a href="/experience">Recent Experience</a></li>
                    <li><span></span><a href="/contact">Contact me</a></li>
                    <li><span></span><a href="#">Share</a></li>
                </ul>
            </nav>
        </div>