    <link rel="stylesheet" type="text/css" href="/css/scss/works.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<div class="bodyContainer">
    <div class="grid">
        <div class="row">
            <div class="col-s-12 col-l-6 col-xl-4">
                <div class="col works">
                    <div class="imageWork"><img src="/images/Collection/Career search.PNG" alt="career search"></div>
                    <div class="contentWork"><p><b>Title:</b> Job Search</p> <p><b>Description:</b></p></div>
                    <div class="footerWork">
                     <a href=" https://osoleimani75.github.io/newproject/" target="_blank">
                        <i class="far fa-window-maximize"></i>
                     </a>
                    <a href="https://github.com/osoleimani75/newproject.git"target="_blank">
                        <i class="fab fa-github"></i></div>                    
                    </a>
                </div>
            </div>
            <div class="col-s-12 col-l-6 col-xl-4">
                <div class="col works">
                    <div class="imageWork"><img src="/images/Collection/GiphyAPI.PNG" alt="Giphy API"></div>
                    <div class="contentWork"><p><b>Title:</b> Giphy API</p><p><b>Description:</b></p></div>
                    <div class="footerWork">
                        <a href="https://osoleimani75.github.io/GIPHY-API/" target="__blank">
                            <i class="far fa-window-maximize"></i>
                        </a>
                        <a href="https://github.com/osoleimani75/GIPHY-API.git" target="__blank">
                            <i class="fab fa-github"></i></div> 
                        </a>                        
                </div>
            </div>
            <div class="col-s-12 col-l-6 col-xl-4">
                <div class="col works">
                    <div class="imageWork"><img src="/images/Collection/Portfolio.PNG" alt="portfolio"></div>
                    <div class="contentWork"><p><b>Title:</b> Portfolio</p><p><b>Description:</b></p></div>
                    <div class="footerWork">
                        <a href="https://osoleimani75.github.io/homework01" target="__blank">
                            <i class="far fa-window-maximize"></i>
                        </a>
                        <a href="https://github.com/osoleimani75/homework01.git" target="__blank">
                            <i class="fab fa-github"></i></div> 
                        </a>                          
                </div>
            </div>
            <div class="col-s-12 col-l-6 col-xl-4">
                <div class="col works">
                    <div class="imageWork"><img src="/images/Collection/TrainTime.PNG" alt="TrainTime"></div>
                    <div class="contentWork"><p><b>Title:</b> Train Time</p><p><b>Description:</b></p></div>
                    <div class="footerWork">
                        <a href="https://osoleimani75.github.io/Train-Time/" target="__blank">
                            <i class="far fa-window-maximize"></i>
                        </a>
                        <a href="https://github.com/osoleimani75/Train-Time.git" target="__blank">
                            <i class="fab fa-github"></i></div> 
                        </a>                        
                </div>
                </div>
            <div class="col-s-12 col-l-6 col-xl-4">
                <div class="col works">
                    <div class="imageWork"><img src="/images/Collection/TriviaGame.PNG" alt="Trivia Game"></div>
                    <div class="contentWork"><p><b>Title:</b> Trivia Game</p><p><b>Description:</b></p></div>
                    <div class="footerWork">
                        <a href="https://osoleimani75.github.io/TriviaGame/" target="__blank">
                            <i class="far fa-window-maximize"></i>
                        </a>
                        <a href="https://github.com/osoleimani75/TriviaGame.git" target="__blank">
                            <i class="fab fa-github"></i></div> 
                        </a>                            
                </div>
                </div>
            <div class="col-s-12 col-l-6 col-xl-4">
                <div class="col works">
                    <div class="imageWork"><img src="/images/Collection/Eat-Da-Burger.PNG" alt="Eat da burger"></div>
                    <div class="contentWork"><p><b>Title:</b>Eat da burger</p><p><b>Description:</b></p></div>
                    <div class="footerWork">
                        <a href="https://eat-da-burger1398.herokuapp.com" target="__blank">
                            <i class="far fa-window-maximize"></i>
                        </a>
                        <a href="https://github.com/osoleimani75/Eat-Da-Burger" target="__blank">
                            <i class="fab fa-github"></i>
                        </a>
                </div>
                </div>
            </div>
            <div class="col-s-12 col-l-6 col-xl-4">
                <div class="col works">
                    <div class="imageWork"><img src="/images/Collection/FriendFinder.PNG" alt="Friend Finder"></div>
                    <div class="contentWork"><p><b>Title:</b> Friend Finder</p><p><b>Description:</b></p></div>
                    <div class="footerWork">
                        <a href="https://friend-finder1398.herokuapp.com" target="__blank">
                            <i class="far fa-window-maximize"></i>
                        </a>
                        <a href="https://github.com/osoleimani75/FriendFinder" target="__blank">
                            <i class="fab fa-github"></i>
                        </a> 
                </div>
                </div>
            </div>
            <div class="col-s-12 col-l-6 col-xl-4">
                <div class="col works">
                    <div class="imageWork"><img src="/images/Collection/StoryPass.PNG" alt="Story Pass"></div>
                    <div class="contentWork"><p><b>Title:</b> Story Pass</p><p><b>Description:</b></p></div>
                    <div class="footerWork">
                        <a href="https://storypass.herokuapp.com/users/stories" target="__blank">
                            <i class="far fa-window-maximize"></i>
                        </a>
                        <a href="https://github.com/osoleimani75/Project2" target="__blank">
                            <i class="fab fa-github"></i>
                        </a>    
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>