
<div class="bodyContainer"> 

    <div class="boxMsg">
        <div class="msgTitle"><h3>Resume</h3></div>
        <div class="msgContent">
            {{!-- Skills --}}
            <div id="Skills" class="boxMsg-none">
                <div class="msgTitle">TECHNICAL SKILLS</div>
                <div class="msgContent">
                    <table>
                        <tr>
                            <td>Fullstack Development</td>
                            <td>Javascript, Nodejs, express, HTML, PHP, CSS3, HTML5, </td>
                        </tr>
                        <tr>
                            <td>Framework</td>
                            <td>Bootstrap, jQuery, ajax, handlesbar </td>
                        </tr>
                        <tr>
                            <td>Database</td>
                            <td>SQL Server, Oracle 10g, MySQL, Mongodb, Firebase </td>
                        </tr>
                        <tr>
                            <td>Knowledge in Programming</td>
                            <td>Pytdon, Java Core, Dot NET, Delphi, PASCAL, FoxPro, C++</td>
                        </tr>
                        <tr>
                            <td>Desktop OS</td>
                            <td>Desktop OS: Windows 10, 8, 7, XP, Mac OS X, and VMware Client Virtualization</td>
                        </tr>
                        <tr>
                            <td>Server OS</td>
                            <td>Windows 2003, 2008, 2012, Linux</td>
                        </tr>
                        <tr>
                            <td>Network</td>
                            <td>LAN (TCP/IP, DHCP, DNS protocols), VPN, VOIP, CCNA (Switch &amp; Router), AVAYA (Telephony)</td>
                        </tr>
                        <tr>
                            <td>Productivity &amp; Tools:</td>
                            <td>Microsoft Office Suite, Anti-Virus, Firewall, Remote and Troubleshooting software</td>
                        </tr>
                    </table>
                    
                </div>

            </div>
            {{!-- Education --}}
            <div id="Education" class="boxMsg-none">
                <div class="msgTitle">EDUCATION</div>
                <div class="msgContent">
                    <table>
                        <tr>
                            <td>Bootcamp Cooding </td>
                            <td>University of California San Diego</td>
                            <td>2019</td>
                        </tr>
                        <tr>
                            <td>Courses in computer Skill<br> {Java Core, Python, Cisco 1, Cisco 2, Linux}</td>
                            <td>Mission College - Santa Clara</td>
                            <td>2018</td>
                        </tr>
                        <tr>
                            <td>AS Computer Science</td>
                            <td>Bandar Abbas University</td>
                            <td>Jun 2002</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    
                </div>

            </div>
            {{!-- Experience --}}
            <div id="Experience" class="boxMsg-none">
                <div class="msgTitle">EXPERIENCE</div>
                <div class="msgContent">
                    <table>
                        <tr>
                            <td><b>Complete Computer Cure,</b> Sherman Oaks CA </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Raven Computer</b>, Woodland Hills CA</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Geeks Dominion</b>, Clarksburg MD </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Advanced Computer Concepts</b>, McLean VA </td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                    
                </div>

            </div>

        </div>
        <div class="msgFooter"></div>
    </div>


</div>