$background: rgb(40, 44, 53);
$fontColor: rgb(210,210,210);
$bgprofile: rgb(83, 105, 177);

$background: rgb(20, 26, 30);
$bgTemp: rgb(0,0,0);
$pubTextColor: rgb(221, 213, 191);
$gray: rgb(213, 215, 219);
$red:  rgb(204, 60, 60);
$brown:rgb(180, 103, 48);
$khaki:rgb(144, 131, 70);